<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.cataloguemoviefinal">

    <!-- Code ini berguna untuk uses permission untuk internet access -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Code ini berguna untuk uses permission untuk alarm -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <!-- Declare permission for read and write database data -->
    <permission
        android:name="com.example.cataloguemoviefinal.READ_DATABASE"
        android:protectionLevel="normal" />
    <permission
        android:name="com.example.cataloguemoviefinal.WRITE_DATABASE"
        android:protectionLevel="normal" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_catalogue_movie"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_catalogue_movie"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning">

        <!-- Broadcast receiver untuk widget -->
        <receiver android:name=".widget.FavoriteMovieItemWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/favorite_movie_item_widget_info" />
        </receiver>

        <!-- Menggunakan config changes orientation di main activity and settings activity agar tidak perlu load activity pas orientation changes -->
        <activity
            android:name=".MainActivity"
            android:label="@string/catalogue_movie_final"
            android:configChanges="orientation"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Menggunakan config changes orientation di main activity and settings activity agar tidak perlu load activity pas orientation changes -->
        <activity
            android:name=".DetailActivity"
            android:parentActivityName=".MainActivity"
            android:label="@string/detail_activity"
            android:configChanges="orientation"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity android:name=".SettingsActivity"
            android:parentActivityName=".MainActivity"
            android:label="@string/settings"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>

        <!-- Content provider agar app/modul lain dapat di akses -->
        <provider
            android:authorities="com.example.cataloguemoviefinal"
            android:name=".provider.FavoriteItemsProvider"
            android:exported="true"
            android:readPermission="com.example.cataloguemoviefinal.READ_DATABASE"
            android:writePermission="com.example.cataloguemoviefinal.WRITE_DATABASE" />

        <!-- Service untuk Widget -->
        <service
            android:name=".widget.FavoriteMovieStackWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <!-- Receiver untuk AlarmManager -->
        <receiver
            android:name=".alarm.DailyReminderAlarmReceiver"
            android:enabled="true"
            android:exported="false"/>

        <receiver
            android:name=".alarm.ReleaseTodayReminderAlarmReceiver"
            android:enabled="true"
            android:exported="false"/>

    </application>

</manifest>