<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.cataloguemoviefinal">

    <!-- Code ini berguna untuk uses permission untuk internet access -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- Code ini berguna untuk uses permission untuk alarm -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- Declare permission for read and write database data -->
    <permission
        android:name="com.example.cataloguemoviefinal.READ_DATABASE"
        android:protectionLevel="normal" />
    <permission
        android:name="com.example.cataloguemoviefinal.WRITE_DATABASE"
        android:protectionLevel="normal" />

    <!-- Permission declaration for updating widget content -->
    <permission
        android:name="com.example.cataloguemoviefinal.UPDATE_WIDGET_DATA" />

    <uses-permission android:name="com.example.cataloguemoviefinal.UPDATE_WIDGET_DATA"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_catalogue_movie"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_catalogue_movie_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning">

        <!-- Custom Broadcast receiver -->
        <receiver
            android:name=".receiver.UpdateWidgetDataReceiver"
            android:permission="com.example.cataloguemoviefinal.UPDATE_WIDGET_DATA"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.cataloguemoviefinal.ACTION_UPDATE_WIDGET_DATA"/>
            </intent-filter>
        </receiver>

        <!-- Broadcast receiver untuk widget -->
        <receiver
            android:name=".widget.FavoriteMovieItemWidget"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/favorite_movie_item_widget_info" />
        </receiver>
        <!-- Menggunakan config changes orientation di main activity and settings activity agar
        tidak perlu load activity pas orientation changes -->
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Menggunakan config changes orientation di main activity and settings activity agar tidak perlu load activity pas orientation changes -->
        <activity
            android:name=".DetailActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity> <!-- Content provider agar app/modul lain dapat di akses -->
        <provider
            android:name=".provider.FavoriteItemsProvider"
            android:authorities="com.example.cataloguemoviefinal"
            android:exported="true"
            android:readPermission="com.example.cataloguemoviefinal.READ_DATABASE"
            android:writePermission="com.example.cataloguemoviefinal.WRITE_DATABASE" /> <!-- Service untuk Widget -->
        <service
            android:name=".widget.FavoriteMovieStackWidgetService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>
        <!-- Receiver untuk AlarmManager -->
        <receiver
            android:name=".alarm.DailyReminderAlarmReceiver"
            android:enabled="true"
            android:exported="false" />
        <receiver
            android:name=".alarm.ReleaseTodayReminderAlarmReceiver"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>